@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

 :root {
  --wisbar: #006886;
  --wisbar-dark: #183762;
  --wisbar-light: #018799;
  --font-family-josefin: 'Josefin Sans', sans-serif;
  --font-family-ralway: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--font-family-josefin);
}
 
.animated {
    visibility: hidden;
}

.animated.visible {
    visibility: visible;
}

.container{
    display: flex;
}

.bkgrd-img1{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    background-image: url('../images/architecture2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#home{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    width: fit-content;
}

.logo-content img{
    width: 16rem;
    margin-bottom: 1.5rem;
}

.main-title{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1.2rem;
    margin: 0 auto;
    font-weight: bolder;
    font-family: var(--font-family-josefin);
    color: var(--wisbar-dark);
    width: fit-content;
}

.main-subtitle{
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    color: var(--wisbar-light);
    width: 100%;
}

.content-box{
    width: 100%;
    color: var(--wisbar-dark);
    margin: 0 auto;
}

.content-box :nth-child(1), :nth-child(3){
    font-size: 1.6rem;
    margin: 0 auto;
    margin-bottom: 0.7rem;
    width: fit-content;
}

.content-box :nth-child(2), :nth-child(4){
    font-size: 1.4rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: fit-content;
}

.contact-info{
    text-align: center;
    color: var(--wisbar-dark);
}

@media screen and (min-width: 500px){
    #home {
        height: 100vh;
        width: 100%;
    }
    .d-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .logo-content {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;
    }
    .logo-content img {
        width: 11.5rem;
        margin-bottom: 0.5rem;
    }
    .box-titles {
        margin-top: 1rem;
    }
    .main-title {
        font-size: 4.5rem;
        letter-spacing: 3rem;
        margin-left: 1.8rem;
    }
    .main-subtitle {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }
    .content-box, .contact-info{
        padding: 0;
        width: 100vw;
    }
    .content-box :nth-child(1), :nth-child(3) {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0.8rem;
    }
    .content-box :nth-child(2), :nth-child(4) {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 1.2rem;
    }
}

@media screen and (min-width: 767px){
    #home{
        height: 92vh;
        width: 100%;
    }
    
    .logo-content{
        margin-bottom: 3rem;
    }
    
    .logo-content img{
        width: 18rem;
    }
    
    .box-titles{
        margin-top: 4rem;
    }
    .main-title{
        font-size: 7rem;
        letter-spacing: 2rem;
        margin-left: 1rem;
    }
    .main-subtitle{
        font-size: 2.1rem;
    }
   
    .content-box, .contact-info{
        padding: 0;
        width: 100vw;
    }
    .content-box :nth-child(1), :nth-child(3){
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
     
    .content-box :nth-child(2), :nth-child(4) {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 3rem;
    }
}
